@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:regular,800&display=swap");
.abilities__container {
  width: 100%;
  padding: 10px;
}
.settings-abilities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: auto;
  align-items: center;
}
.settings-abilities__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height: 100%;
  background-color: #A6998F;
  border-radius: 5px;
  gap: 5px;
  -webkit-box-shadow: 0px 6px 15px -10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 6px 15px -10px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 6px 15px -10px rgba(0, 0, 0, 0.4);
}
.settings-abilities__title {
  font-size: 12px;
  text-align: center;
}
.settings-abilities__input {
  width: 34px;
  height: 34px;
  border: 1px solid #262522;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  background-color: #F2E6D8;
}
.settings-abilities__free-points {
  background-color: #A6998F;
  grid-area: 2/1/3/4;
  padding: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 6px 15px -10px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 0px 6px 15px -10px rgba(0, 0, 0, 0.42);
  box-shadow: 0px 6px 15px -10px rgba(0, 0, 0, 0.42);
}
.settings-abilities__title {
  font-size: 14px;
}
.abilities-cards__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
}
.abilities-cards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #A6998F;
  border-radius: 5px;
  padding: 5px;
  justify-content: space-between;
  align-items: stretch;
  gap: 5px;
}
.abilities-cards__title {
  text-transform: uppercase;
  font-weight: 800;
  align-self: center;
}
.abilities-cards__body {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-between;
}
.abilities-cards__minus {
  align-self: flex-end;
}
.abilities-cards__cost {
  text-align: center;
}
.abilities-cards__btn {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
}
.abilities-cards__value {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.3fr 1fr;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  background-color: #F2E6D8;
  border-radius: 5px;
}
.abilities-cards__value-top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.abilities-cards__value-bot {
  background-color: #d9ccc1;
  border-radius: 0 0 5px 5px;
}
.abilities-cards__sub-title {
  text-align: center;
  font-size: 7px;
  padding: 5px;
}
.abilities-cards__modifier {
  font-weight: 400;
  font-size: 14px;
}
.abilities-cards__plus {
  align-self: flex-end;
}

/***
    The new CSS reset - version 1.11.1 (last updated 24.10.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number],
input[type=number]:hover,
input[type=number]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.body {
  background-color: #201d1a;
  color: #201d1a;
  font-family: Montserrat Alternates;
}

.page {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
  background-color: #403C37;
}/*# sourceMappingURL=main.css.map */