.abilities {
    // .abilities__container
    &__container {
        width: 100%;
        padding: 10px;
    }
    // .abilities__settings-abilities
    &__settings {
    }
}
.settings-abilities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    height: auto;
    align-items: center;
    // .settings-abilities__item
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        height: 100%;
        background-color: $color-text-card-background;
        border-radius: 5px;
        gap: 5px;
    }
    // .settings-abilities__title
    &__title {
        font-size: 14px;
        text-align: center;
        // .settings-abilities__title--min
        &--min {
        }
        // .settings-abilities__title--max
        &--max {
        }
        // .settings-abilities__title--points-max
        &--points-max {
        }
    }
    // .settings-abilities__abilities
    &__abilities {
        // .settings-abilities__abilities--min
        &--min {
        }
        // .settings-abilities__abilities--max
        &--max {
        }
    }
    // .settings-abilities__input
    &__input {
        width: 34px;
        height: 34px;
        border: 1px solid $color-text-main;
        font-weight: bold;
        border-radius: 5px;
        text-align: center;
        font-size: 16px;
        background-color: $color-text-card-background-light;
        // .settings-abilities__input--max
        &--max {
        }
    }
}
