$color-text-main: #262522;
$color-text-card-background: #A6998F;
$color-text-card-background-light: #F2E6D8;



@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:regular,800&display=swap");